# Dependency directories
node_modules/
dist/

# Environment files
src/environments/*.ts

# Angular specific
.angular/
.angular/cache/


# .NET Core
*.obj
*.dll
*.exe
*.pdb
*.user
*.dll.config
bin/
obj/

# Visual Studio Code
.vscode/

